### IS 362 – Project 2

The goal of this assignment is to give you practice in preparing different datasets for downstream 
analysis work.
Your task is to:

(1) Choose any three of the “wide” datasets identified in the Week 5 Discussion items. (You may 
use your own dataset; please don’t use my Sample Post dataset, since that was used in your 
Project 1 assignment!) **For each of the three chosen datasets:**


- Create a .CSV file (or optionally, a MySQL database!) that includes all of the information included in the dataset. You’re encouraged to use a “wide” structure similar to how the information appears in the discussion item, so that you can practice tidying and transformations as described below.
    
    
- Read the information from your .CSV file into Python, and use pandas as needed to tidy 
    and transform your data. [Most of your grade will be based on this step!]
- Perform the analysis requested in the discussion item.
- Your code should be in an Jupyter Notebook, posted to your GitHub repository, and 
    should include narrative descriptions of your data cleanup work, analysis, and 
    conclusions. 

(2) Please include the URL for the Jupyter Notebook in your homework submission, **for each of the 
three chosen datasets.** You may create a single Jupyter Notebook, or three separate
notebooks

In [1]:
import pandas as pd

### We load the file of all drivers included in the sheet MALES

#### I could load the infomation from 3 different csv files, instead I found that Excel files have sheets included. It will demostrates the sheet_name capabilities.
#### the excell file Drver_licences.xls includes three sheets named MALES, FEMALES and TOTAL.

In [2]:
Males = pd.read_excel("Drver_licences.xls",sheet_name="MALES",
                       skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12],
                       index_col=None,usecols="A:Q,T:AC",header=0)

In [3]:
Males.head()

,STATE,UNDER,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,...,<16,16,17,18,19,20,21,22,23,24
0,Alabama,108101,168232.0,165330,152778,142642,153246,152732,167362,162836,...,0,23594,26233,28437,29837,31674,33078,33815,34241,35424.0
1,Alaska 2/,9893,22632.0,28185,27590,22809,21394,20951,23795,24005,...,0,1268,2165,2916,3544,3959,3859,4379,4933,5502.0
2,Arizona,86800,190765.0,214721,230400,226520,236581,226224,232476,215084,...,0,10261,18893,26465,31181,34064,36645,38348,40481,41227.0
3,Arkansas,41944,88496.0,88882,87503,83362,85781,85243,95108,90627,...,0,5288,9690,12210,14756,16325,17614,17302,18230,19025.0
4,California,451549,1191309.0,1220965,1180988,1069849,1115486,1170370,1230526,1134255,...,0,33312,79717,143499,195021,214289,233646,243600,247281,252493.0

### We define the columns for MALES

In [4]:
col_names_Males = ["State", "Males 19 and Under", "Males 20-24", "Males 25-29",
               "Males 30-34", "Males 35-39", "Males 40-44", "Males 45-49",
               "Males 50-54", "Males 55-59", "Males 60-64", "Males 65-69",
               "Males 70-74", "Males 75-79", "Males 80-84",
               "Males 85 and Over",
               "Total Licensed Male Drivers (Table DL-22)",
               "Males under 16", "Males 16", "Males 17", "Males 18",
               "Males 19", "Males 20", "Males 21", "Males 22",
               "Males 23", "Males 24"]

In [5]:
Males.columns = col_names_Males

### We load the file of all drivers included in the sheet FEMALES

In [6]:
Females = pd.read_excel("Drver_licences.xls",sheet_name="FEMALES",
                       skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,66,67,68,69],
                       index_col=None,usecols="A:Q,T:AC",header=0)

In [7]:
Females.head()

,STATE,UNDER,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Alabama,105307,165240.0,170609,161729,153486,160259,159202,176291,172804,...,0,23274,25911,27316,28806,30735,32036,33051,34094,35324.0
1,Alaska 2/,10770,24971.0,30767,30020,24937,23371,23318,26416,26395,...,0,1371,2320,3135,3944,4360,4257,4849,5445,6060.0
2,Arizona,80630,183501.0,212098,227610,217635,221187,212470,227927,220860,...,0,9907,17803,24280,28640,32131,34813,36996,39111,40450.0
3,Arkansas,40799,87055.0,90468,89899,84979,86465,85695,97616,94759,...,0,5237,9355,12120,14087,15663,16911,17395,17973,19113.0
4,California,414348,1121941.0,1197632,1174187,1070204,1103654,1117697,1182180,1101591,...,0,35376,76235,129648,173089,197302,210647,228685,238825,246482.0

### We define the columns for FEMALES

In [8]:
col_names_Females = ["State", "Females 19 and Under", "Females 20-24",
               "Females 25-29", "Females 30-34", "Females 35-39",
               "Females 40-44", "Females 45-49", "Females 50-54",
               "Females 55-59", "Females 60-64", "Females 65-69",
               "Females 70-74", "Females 75-79", "Females 80-84",
               "Females 85 and Over",
               "Total Licensed Female Drivers (Table DL-22)", "Females under 16",
               "Females 16", "Females 17", "Females 18", "Females 19",
               "Females 20", "Females 21", "Females 22", "Females 23",
               "Females 24"]

In [9]:
Females.columns = col_names_Females

### We load the file of all drivers included in the sheet TOTAL

In [10]:
Total = pd.read_excel("Drver_licences.xls",sheet_name="TOTAL",
                       skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,
                                 66,67,68,69,70,71,72,73,74,75,76,77],
                       index_col=None,usecols="A:Q,T:AC",header=0)

In [11]:
Total.head()

,STATE,UNDER,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Alabama,213408,333472.0,335939,314507,296128,313505,311934,343653,335640,...,0,46868,52144,55753,58643,62409,65114,66866,68335,70748.0
1,Alaska 2/,20663,47603.0,58952,57610,47746,44765,44269,50211,50400,...,0,2639,4485,6051,7488,8319,8116,9228,10378,11562.0
2,Arizona,167430,374266.0,426819,458010,444155,457768,438694,460403,435944,...,0,20168,36696,50745,59821,66195,71458,75344,79592,81677.0
3,Arkansas,82743,175551.0,179350,177402,168341,172246,170938,192724,185386,...,0,10525,19045,24330,28843,31988,34525,34697,36203,38138.0
4,California,865897,2313250.0,2418597,2355175,2140053,2219140,2288067,2412706,2235846,...,0,68688,155952,273147,368110,411591,444293,472285,486106,498975.0

### We define the columns for TOTAL

In [12]:
col_names_Total = ["State", "Total 19 and Under", "Total 20-24", "Total 25-29",
               "Total 30-34", "Total 35-39", "Total 40-44", "Total 45-49",
               "Total 50-54", "Total 55-59", "Total 60-64", "Total 65-69",
               "Total 70-74", "Total 75-79", "Total 80-84",
               "Total 85 and Over", "Total Licensed Drivers (Table DL-22)",
               "Total under 16", "Total 16", "Total 17", "Total 18",
               "Total 19", "Total 20", "Total 21", "Total 22", "Total 23",
               "Total 24"]

In [13]:
Total.columns = col_names_Total

### Load the licenced driver by sex and ratio to population

In [14]:
driver_by_sex_op = pd.read_excel("Driver_by_sex_op.xls",skiprows=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,
                                          66,67,68,69],
                     usecols="A:M",header=None)

In [15]:
driver_by_sex_op.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Alabama,1887023.0,48.62,1994519.0,51.38,3881542.0,0.729488,4849377,1850520,2018569,3869089,800.420755,1003.218587
1,Alaska 2/,250745.0,47.16,280999.0,52.84,531744.0,0.677566,736732,301326,268918,570244,721.760423,932.485041
2,Arizona,2453665.0,50.26,2428136.0,49.74,4881801.0,0.884340,6731484,2609768,2681353,5291121,725.219134,922.640212
3,Arkansas,1038874.0,49.19,1072999.0,50.81,2111873.0,0.773777,2966369,1136553,1202216,2338769,711.938737,902.984861
4,California,12562214.0,50.63,12251132.0,49.37,24813346.0,0.887987,38802500,15129276,15565575,30694851,639.478023,808.387895

### This keeps the text from overrunning and links the ratio licenced file data from the excel file Driver by sex and operator

In [16]:
ratio_n = "Ratio of Licensed Drivers to "
ratio_n += "Private and Commercial Motor Vehicles Registered"

### We define the columns for Drivers by sex and operator using the ratio_n

In [26]:
col_names_Driver_sex_op = ["State","Licensed Male Drivers (Table DL-1C)",
               "Percent Male Drivers of Total",
               "Licensed Female Drivers (Table DL-1C)",
               "Percent Female Drivers of Total",
               "Total Licensed Drivers (Table DL-1C)",
               ratio_n,
               "Total Resident Population",
               "Male Driving Age Population (16 and Over)",
               "Female Driving Age Population (16 and Over)",
               "Total Driving Age Population (16 and Over)",
               "Drivers Per 1000 Total Resident Population",
               "Drivers per 1000 Driving Age Population"]

In [27]:
driver_by_sex_op.columns = col_names_Driver_sex_op

### Clean up state names so that they have uniform values among the four sheets

In [29]:
driver_by_sex_op['State'] = driver_by_sex_op['State'].str.replace('[0-9,/]','')
driver_by_sex_op['State'] = driver_by_sex_op['State'].str.strip()

### Merge the three sheets from Table Drver_licences.xls all togther

In [30]:
merged_table = pd.merge(Males,Females,how='left',on='State')
merged_table = pd.merge(merged_table,Total,how='left',on='State')

### I'm reapeating the previous step of cleaning up the state names for Table Drver_licences, so they have the same values as Table Driver_by_sex_op

In [31]:
merged_table['State'] = merged_table['State'].str.replace('[0-9,/]','')
merged_table['State'] = merged_table['State'].str.strip()

### Merge  Drver_licences with Table Driver_by_sex_op using the state column as the common column

In [36]:
merged_table = pd.merge(merged_table,driver_by_sex_op,how='left',on='State')

### Print the merged table

In [37]:
print(merged_table.describe)

<bound method NDFrame.describe of              State  Males 19 and Under   Males 20-24  Males 25-29  \
0          Alabama              108101  1.682320e+05       165330
1           Alaska                9893  2.263200e+04        28185
2          Arizona               86800  1.907650e+05       214721
3         Arkansas               41944  8.849600e+04        88882
4       California              451549  1.191309e+06      1220965
5         Colorado               76805  1.551790e+05       187790
6      Connecticut               45178  1.014850e+05       107861
7         Delaware               17443  3.032900e+04        31404
8    Dist. of Col.                 346  6.593000e+03        24942
9          Florida              227065  5.151890e+05       546699
10         Georgia              139061  2.774880e+05       272222
11          Hawaii               12113  3.509400e+04        38032
12           Idaho               32175  4.988200e+04        48732
13        Illinois              207287  3.515410e+05       360823
14         Indiana               95518  1.988670e+05       190943
15            Iowa               68054  9.474600e+04        93632
16          Kansas               74313  8.831100e+04        89523
17        Kentucky               39737  1.212870e+05       123852
18       Louisiana               67860  1.286810e+05       142070
19           Maine               18105  3.654300e+04        39749
20        Maryland               62209  1.576820e+05       192000
21   Massachusetts               83650  1.971280e+05       216481
22        Michigan              170393  3.066670e+05       289461
23       Minnesota               83162  1.238750e+05       129691
24     Mississippi               53325  8.109600e+04        75114
25        Missouri              102172  1.802050e+05       191875
26         Montana               18712  2.963700e+04        34011
27        Nebraska               36984  6.100300e+04        66246
28          Nevada               29297  7.030800e+04        77520
29   New Hampshire               24127  4.478900e+04        44940
30      New Jersey              120061  2.618820e+05       251749
31      New Mexico               14095  5.888100e+04        67758
32        New York              161904  4.355660e+05       498976
33  North Carolina              110352  2.946660e+05       310000
34    North Dakota               14518  2.635000e+04        29348
35            Ohio              175264  3.150650e+05       305628
36        Oklahoma               73393  1.100060e+05       103899
37          Oregon               48558  1.005220e+05       114805
38    Pennsylvania              149633  3.536590e+05       368173
39    Rhode Island               11524  3.016200e+04        32030
40  South Carolina              105057  1.454740e+05       150459
41    South Dakota               17657  2.521000e+04        26568
42       Tennessee              116428  1.821170e+05       179341
43           Texas              338567  7.182690e+05       712891
44            Utah               40114  7.126000e+04        76882
45         Vermont                9766  2.042500e+04        23578
46        Virginia              107987  2.229170e+05       241958
47      Washington              103273  2.239880e+05       264237
48   West Virginia               27990  3.415259e+04        38262
49       Wisconsin               95403  1.647160e+05       173691
50         Wyoming               11158  1.777800e+04        19741
51           Total             4336080  8.918105e+06      9323670

    Males 30-34  Males 35-39  Males 40-44  Males 45-49  Males 50-54  \
0        152778       142642       153246       152732       167362
1         27590        22809        21394        20951        23795
2        230400       226520       236581       226224       232476
3         87503        83362        85781        85243        95108
4       1180988      1069849      1115486      1170370      1230526
5        191762       176195       178830       173833       188009
6         99230        94541       102306       118495       130561
7         30547        26666        28455        30205        32644
8         35162        28738        21393        18100        16572
9        527079       505778       563181       600028       661050
10       270355       265572       301546       303912       311105
11        42315        39571        40987        41269        44991
12        49887        47715        45615        44596        49170
13       363130       345448       349274       358748       389316
14       186162       177883       188742       190931       210154
15        92698        85159        83499        87876       100588
16        86670        78434        75836        76722        89025
17       127266       125350       133803       134587       146762
18       149815       135902       134057       136340       148755
19        37388        35487        39343        43708        51034
20       198246       180460       184650       194222       206518
21       207285       189107       205695       223913       236610
22       268087       255391       276637       296171       328767
23       137763       131354       131357       143751       168556
24        73683        72619        76535        77916        87333
25       187273       168885       170948       174082       200771
26        33180        30375        28836        28908        35150
27        64950        56645        54167        54018        61972
28        83123        81261        86035        85660        86605
29        40950        37570        43892        49937        56480
30       241345       239765       258007       281786       307002
31        71934        63594        61873        60508        68412
32       492727       474586       507645       554301       593123
33       299791       287687       317972       316078       325717
34        26394        21868        20197        20612        24439
35       302854       292269       319083       335351       374090
36       100318        86456        85325        83741        96626
37       124601       119828       115989       113350       118964
38       354506       329423       360230       393006       436352
39        30483        27336        29069        32972        36660
40       144879       134642       145290       144940       155089
41        26732        23902        21929        22632        27369
42       179664       174514       196653       197937       208891
43       707081       666537       698447       690235       735577
44        77627        75341        59549        53627        54072
45        23318        20573        21036        22497        25866
46       245126       232130       253233       263733       286610
47       284991       260997       254826       242804       255186
48        39021        41739        47022        47678        51894
49       175892       158187       165863       183820       209474
50        19979        17319        16542        15788        18757
51      9232528      8665981      9113887      9420844     10197935

    Males 55-59  ...  Licensed Female Drivers (Table DL-1C)  \
0        162836  ...                           1.994519e+06
1         24005  ...                           2.809990e+05
2        215084  ...                           2.428136e+06
3         90627  ...                           1.072999e+06
4       1134255  ...                           1.225113e+07
5        184646  ...                           1.896594e+06
6        124861  ...                           1.288379e+06
7         30943  ...                           3.761070e+05
8         14297  ...                           2.144630e+05
9        612003  ...                           7.096746e+06
10       280969  ...                           3.496317e+06
11        44570  ...                           4.347310e+05
12        49178  ...                           5.618340e+05
13       378917  ...                           4.255843e+06
14       204263  ...                           2.264228e+06
15       101786  ...                           1.124679e+06
16        89726  ...                           1.021453e+06
17       140924  ...                           1.522984e+06
18       145912  ...                           1.716880e+06
19        51332  ...                           5.152250e+05
20       187794  ...                           2.104458e+06
21       217544  ...                           2.407976e+06
22       328632  ...                           3.598333e+06
23       166721  ...                           1.670638e+06
24        86818  ...                           1.038684e+06
25       192020  ...                           2.191795e+06
26        37491  ...                           3.781670e+05
27        61348  ...                           6.900010e+05
28        80173  ...                           8.782450e+05
29        54199  ...                           5.344800e+05
30       286736  ...                           3.132620e+06
31        66289  ...                           7.246790e+05
32       557785  ...                           5.511861e+06
33       301707  ...                           3.621089e+06
34        24695  ...                           2.539990e+05
35       377446  ...                           4.080630e+06
36        96233  ...                           1.316948e+06
37       123352  ...                           1.408637e+06
38       437456  ...                           4.490596e+06
39        36067  ...                           3.825230e+05
40       147682  ...                           1.879548e+06
41        28263  ...                           3.025820e+05
42       198776  ...                           2.397024e+06
43       690250  ...                           7.934396e+06
44        53149  ...                           7.091180e+05
45        26554  ...                           2.735170e+05
46       264784  ...                           2.959283e+06
47       244773  ...                           2.610391e+06
48        57043  ...                           5.898602e+05
49       197036  ...                           2.091956e+06
50        21048  ...                           2.065060e+05
51      9730998  ...                           1.081848e+08

    Percent Female Drivers of Total  Total Licensed Drivers (Table DL-1C)  \
0                             51.38                          3.881542e+06
1                             52.84                          5.317440e+05
2                             49.74                          4.881801e+06
3                             50.81                          2.111873e+06
4                             49.37                          2.481335e+07
5                             48.84                          3.883362e+06
6                             50.67                          2.542588e+06
7                             51.36                          7.323490e+05
8                             51.08                          4.198960e+05
9                             51.06                          1.389835e+07
10                            52.57                          6.650434e+06
11                            48.16                          9.026390e+05
12                            49.79                          1.128497e+06
13                            50.82                          8.373565e+06
14                            50.90                          4.448099e+06
15                            50.48                          2.227950e+06
16                            50.54                          2.021271e+06
17                            50.68                          3.004919e+06
18                            51.83                          3.312630e+06
19                            50.57                          1.018918e+06
20                            50.80                          4.142997e+06
21                            50.53                          4.765586e+06
22                            51.07                          7.046433e+06
23                            49.76                          3.357468e+06
24                            52.52                          1.977679e+06
25                            51.03                          4.295224e+06
26                            49.20                          7.687030e+05
27                            49.87                          1.383693e+06
28                            48.89                          1.796443e+06
29                            49.86                          1.071963e+06
30                            50.92                          6.152634e+06
31                            50.16                          1.444857e+06
32                            48.70                          1.131820e+07
33                            51.54                          7.025333e+06
34                            48.15                          5.275410e+05
35                            51.55                          7.915907e+06
36                            53.71                          2.451972e+06
37                            50.57                          2.785446e+06
38                            50.37                          8.915641e+06
39                            51.12                          7.483370e+05
40                            51.96                          3.617535e+06
41                            49.61                          6.099080e+05
42                            51.96                          4.613166e+06
43                            50.70                          1.564873e+07
44                            49.74                          1.425703e+06
45                            50.16                          5.453120e+05
46                            51.30                          5.769063e+06
47                            48.33                          5.401139e+06
48                            50.33                          1.171907e+06
49                            49.95                          4.188194e+06
50                            48.71                          4.239870e+05
51                            50.53                          2.140925e+08

    Ratio of Licensed Drivers to Private and Commercial Motor Vehicles Registered  \
0                                            0.729488
1                                            0.677566
2                                            0.884340
3                                            0.773777
4                                            0.887987
5                                            0.815285
6                                            0.899970
7                                            0.768105
8                                            1.335475
9                                            0.912307
10                                           0.830680
11                                           0.658856
12                                           0.643909
13                                           0.813375
14                                           0.741328
15                                           0.626524
16                                           0.806478
17                                           0.732008
18                                           0.871598
19                                           0.863184
20                                           1.046724
21                                           0.965725
22                                           0.875320
23                                           0.649549
24                                           0.963939
25                                           0.813736
26                                           0.487068
27                                           0.726458
28                                           0.811251
29                                           0.826580
30                                           0.907796
31                                           0.760580
32                                           1.043172
33                                           0.907546
34                                           0.619249
35                                           0.766163
36                                           0.701390
37                                           0.825013
38                                           0.858717
39                                           0.881269
40                                           0.922741
41                                           0.606259
42                                           0.862882
43                                           0.768867
44                                           0.671272
45                                           0.903440
46                                           0.821550
47                                           0.854013
48                                           0.776182
49                                           0.796763
50                                           0.520003
51                                           0.835534

    Total Resident Population  Male Driving Age Population (16 and Over)  \
0                     4849377                                    1850520
1                      736732                                     301326
2                     6731484                                    2609768
3                     2966369                                    1136553
4                    38802500                                   15129276
5                     5355866                                    2121402
6                     3596677                                    1408386
7                      935614                                     360500
8                      658893                                     259696
9                    19893297                                    7893617
10                   10097343                                    3797487
11                    1419561                                     576172
12                    1634464                                     622041
13                   12880580                                    4974169
14                    6596855                                    2532561
15                    3107126                                    1213806
16                    2904021                                    1117418
17                    4413457                                    1712742
18                    4649676                                    1768061
19                    1330089                                     535061
20                    5976407                                    2285455
21                    6745408                                    2645934
22                    9909877                                    3868887
23                    5457173                                    2129995
24                    2994079                                    1122269
25                    6063589                                    2342500
26                    1023579                                     412202
27                    1881503                                     723430
28                    2839099                                    1125691
29                    1326813                                     536860
30                    8938175                                    3456345
31                    2085572                                     805542
32                   19746227                                    7669925
33                    9943964                                    3807288
34                     739482                                     301655
35                   11594163                                    4484168
36                    3878051                                    1485698
37                    3970239                                    1575847

### Export merged dataset to .csv file

In [38]:
merged_table.to_csv("ExportFile.csv")